.page {
    display: flex;
    flex-direction: column;
    height: 180vh;
    overflow: auto;
}

.container1 {
    background-color: #1f2937;
    height: 45vh;
}

.header {
    display: flex;
    justify-content: space-around;
}

.headerleft {
    font-size: 24px;
    color: #f9faf8;
}

.headerright, .titlesubtext {
    font-size: 18px;
    color: #e5e7eb;
}

.headerright {
    display: flex;
}

.link {
    padding: 30px;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.title > div {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.container1leftandright {
    display: flex;
    justify-content: space-evenly;
}

.container1left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.container1right {
    display: flex;
    align-items: center;
}

.image1 {
    height: 300px;
    width: auto;
}

.signupbutton1 {
    color: #f9faf8;
    background-color: #3882f6;
    text-align: center;
    border-radius: 20px;
    width: 100px;
    height: auto;
}

.titlesubtext {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
}

/*/////////////////////container2///////////////////*/

.container2 {
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.container2top {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    font-weight: 800;
    font-size: 28px;
    text-align: center;
}

.container2bottom {
    display: flex;
    justify-content: space-evenly;
}

.imageandsubtext > img {
    width: 150px;
    height: auto;
    border: 5px solid #3882f6;
    border-radius: 20px;
}

.imageandsubtext > div {
    text-align: center;
}

/*/////////////////////container3///////////////////*/

.container3 {
    display: flex;
    flex-direction: column;
    height: 45vh;
    background-color: #e5e7eb;
}

.quote {
    display: flex;
    flex-direction: column;
    padding: 5%;
}

.quote > div {
    font-size: 28px;
    font-style: italic;
    text-align: center;
}

.author > div {
    font-size: 20px;
    font-weight: 800;
    text-align: right;
}

/*/////////////////////container4///////////////////*/

.container4 {
    height: 45vh;
}

.textpart {
    background-color: #3882f6;
    color: #f9faf8;
}

.container4right > div {
    text-align: center;
    width: 100px;
    height: auto;
    border: 2px solid #f9faf8;
    border-radius: 6px;
}