.container1 {
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: space-around;
}

.headerleft {
    font-size: 24px;
    color: #f9faf8;
}

.headerright, .titlesubtext {
    font-size: 18px;
    color: #e5e7eb;
}

.headerright {
    display: flex;
}

.link {
    padding: 30px;
}

.title {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.container1leftandright {
    display: flex;
    justify-content: space-evenly;
}

.container1left {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
}

.container1right {
    display: flex;
    align-items: center;
}

.image1 {
    height: 300px;
    width: auto;
}

.signupbutton1 {
    color: #f9faf8;
    background-color: #3882f6;
}